.workspace-multiple-tabs-item-action:hover .workspace-multiple-tabs-item-dirty {
    display: none !important;
}

.workspace-multiple-tabs-item-action:hover .workspace-multiple-tabs-item-dirty-close {
    display: flex !important;
}

.workspace-multiple-tabs-item:hover .workspace-multiple-tabs-item-close {
    display: flex !important;
}